@charset "utf-8";

/* リセットcss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* 共通のスタイル */
.section-title {
  font-size: 30px;
  font-weight: bold;
  margin: 30px 0;
  text-align: center;
}

img {
  display: block;
  width: 100%;
}

.wrap {
  width: 80%;
  margin: 0 auto 50px;
}

.flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.between {
  justify-content: space-between;
}

.around {
  justify-content: space-around;
}

/* その他のスタイルは以下に記述していきます */


/*ヘッダー*/
header{
  height: 70px;
  background: #000;
}

.header-logo{
  font-size: 20px;
  font-weight: bold;
  margin-left: 35px;
  color: #f2f2f2;
  line-height: 70px;
}

.header-nav li{
  display: inline-block;
  margin-right: 35px;
  font-size: 16px;
}

.header-nav a{
  color: #f2f2f2;
  text-decoration: none;
}

/*メインビジュアル*/
#eyecatch{
  height: 1000px;
  background: url(../img/eyecatch.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

#eyecatch p{
  position: absolute;
  top: 60%;
  left: 30%;
  transform: translate(-50%, -50%) skew(-17deg);
  font-size: 60px;
  font-style: italic;
  font-weight: bold;
  color: #ffffff;
  line-height: 1;
}

.news{
  display: flex;
  justify-content: flex-end;
}

.date-title{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.date{
  width: 500px;
  height: 15px;
  top: -50px;
  background: #fff;
  position: relative;
  line-height: 20px;
}

.news-title-parent{
  width: 500px;
  height: 35px;
  top: -50px;
  background: #fff;
  position: relative;
}

.news-title-child{
  position: absolute;
  width: 450px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.news-logo{
  width: 150px;
  height: 50px;
  top: -50px;
  background: #000000;
  position: relative;
}

.link{
  display: inline-block;
  margin: 15px 60px;
  color: #f2f2f2;
  background: #000;
  text-decoration: none;
}

/*introduce*/
.introduce-parent{
  height: 600px;
  top: -50px;
  background: #000;
  background-size: cover;
  background-position: center;
  position: relative;
}

.introduce-child{
  display: flex;
  flex-direction: column;
  align-items: left;
}

.introduce-title{
  color: #f2f2f2;
  font-size: 30px;
  font-weight: bold;
  padding: 170px 35% 0px 20%;
  position: relative;
  z-index: 10;
}

.introduce-content{
  color: #f2f2f2;
  font-size: 15px;
  padding: 30px 35% 0px 20%;
  position: relative;
  z-index: 10;
  line-height: 20px;
}

.introduce-img{
  width: 800px; 
  height: 520px;
  top: 130px;
  left: 55%;
  object-fit: contain;
  position: absolute;
  z-index: 5;
}

.mission-botton{
  width: 130px;
  height: 30px;
  top: 20px;
  left: 20%;
  padding: 5px 20px;
  background: #fff;
  position: relative;
}

.mission-link{
  display: inline-block;
  margin: 7px;
  color: #000000;
  text-decoration: none;
}

/*sevice1*/
.service1-parent{
  height: 950px;
  top: 120px;
  background: #dfdfdf;
  background-size: cover;
  background-position: center;
  position: relative;
}

.service1-child{
  display: flex;
  flex-direction: column;
  align-items: left;
}

.service1-title{
  color: #3f434a;
  font-size: 40px;
  font-weight: bold;
  padding: 30px 55% 0px 45%;
  position: relative;
  z-index: 100;
}

.service1-content-parent{
  display: flex;
  flex-direction: column;
  align-items: left;
}

.service1-content1{
  color: #000000;
  font-size: 15px;
  font-weight: bold;
  padding: 170px 40% 0px 22%;
  position: relative;
  z-index: 100;
  line-height: 10px;
  margin: 50px;
}

.service1-content2{
  color: #000000;
  top: -20px;
  left: 24.6%;
  font-size: 15px;
  
  position: relative;
  z-index: 100;
  line-height: 10px;
}

.service1-content3{
  width: 550px;
  left: 4.6%;
  color: #000000;
  font-size: 15px;
  padding: 0px 35% 0px 20%;
  position: relative;
  z-index: 100;
  line-height: 20px;
}

.service1-img{
  width: 1000px; 
  height: 650px;
  top: 90px;
  left: 48%;
  object-fit: contain;
  position: absolute;
  z-index: 1;
}

.service1-botton{
  width: 130px;
  height: 30px;
  top: 20px;
  left: 44%;
  padding: 5px 20px;
  background: #fff;
  position: relative;
  border: 1px #000 solid;
  z-index: 76;
}

.service1-link{
  display: inline-block;
  margin: 7px 15px;
  color: #000000;
  text-decoration: none;
  z-index: 75;
}

.service1-background{
  background: #fff;
  margin: 200px 20%;
  width: 750px;
  height: 370px;
  z-index: 50;
  position: absolute;
}

/*service2*/
.service2-parent{
  height: 900px;
  top: 50px;
  background: #dfdfdf;
  background-size: cover;
  background-position: center;
  position: relative;
}

.service2-child{
  display: flex;
  flex-direction: column;
  align-items: left;
}

.service2-content-parent{
  display: flex;
  flex-direction: column;
  align-items: left;
}

.service2-content1{
  color: #000000;
  font-size: 15px;
  font-weight: bold;
  padding: 255px 0% 0px 42%;
  position: relative;
  z-index: 100;
  line-height: 10px;
  margin: 50px;
}

.service2-content2{
  color: #000000;
  top: -20px;
  left: 44.6%;
  font-size: 15px;
  
  position: relative;
  z-index: 100;
  line-height: 10px;
}

.service2-content3{
  width: 550px;
  left: 4.6%;
  color: #000000;
  font-size: 15px;
  padding: 0px 35% 0px 40%;
  position: relative;
  z-index: 100;
  line-height: 20px;
}

.service2-img{
  width: 1000px; 
  height: 650px;
  top: 35px;
  object-fit: contain;
  position: absolute;
  z-index: 1;
}

.service2-botton{
  width: 130px;
  height: 30px;
  top: 20px;
  left: 64%;
  padding: 5px 20px;
  background: #fff;
  position: relative;
  border: 1px #000 solid;
  z-index: 76;
}

.service2-link{
  display: inline-block;
  margin: 7px 15px;
  color: #000000;
  text-decoration: none;
  z-index: 75;
}

.service2-background{
  background: #fff;
  margin: 200px 40%;
  width: 750px;
  height: 370px;
  z-index: 50;
  position: absolute;
}

/*information*/
.information-parent{
  height: 1050px;
  top: 50px;
  background: #fff;
  background-size: cover;
  background-position: center;
  position: relative;
}

.company1{
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  top: 300px;
  text-decoration: none;
  margin: 0 0 0 20%;
  z-index: 75;
  position: relative;
}

.company2{
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  top: 340px;
  text-decoration: none;
  margin: 0 0 0 -7.5%;
  z-index: 75;
  position: relative;
}

.recruit1{
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  top: 300px;
  text-decoration: none;
  margin: 0 0 0 45%;
  z-index: 75;
  position: relative;
}

.recruit2{
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  top: 310px;
  text-decoration: none;
  margin: 0 0 0 74%;
  z-index: 75;
  position: relative;
}

.recruit-link, .recruit-img{
  width: 915px; 
  height: 100px;
  top: 190px;
  right: 0%;
  object-fit: cover;
  position: absolute;
  z-index: 1;
}

.company-link, .company-img{
  width: 915px; 
  height: 300px;
  top: 95px;
  left: 0%;
  object-fit: cover;
  object-position: 50% 50%;
  position: absolute;
  z-index: 1;
}

.FAQ-link, .FAQ-background{
  background-color: #000000;
  position: relative;
  top: 300px;
  left: 7%;
  width: 1425px;
  height: 170px;
  z-index: 1;
}

.FAQ-logo{
  top: 490px;
  left: 320px;
  color: #fff;
  display: inline-block;
  font-size: 45px;
  font-weight: bold;
  position: relative;
  z-index: 10;
  text-decoration: none;
}

.FAQ-text{
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  top: 490px;
  left: 41.5%;
  position: relative;
  z-index: 10;
  text-decoration: none;
}

/*contact*/
.contact{
  height: 690px;
  background: url(../img/contact-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.contact-parent{
  text-align: center;
}

.contact-title{
  font-weight: bold;
  font-size: 43px;
  color: #fff;
  padding: 200px 0 0 0;
}

.contact-text1{
  font-weight: bold;
  font-size: 20px;
  color: #fff;
  padding: 18px 0 0 0;
}

.contact-text2{
  font-size: 38px;
  color: #fff;
  padding: 40px 0 0 0;
}

.contact-text3{
  font-size: 15px;
  color: #fff;
  padding: 40px 0 0 0;
}

.contact-botton{
  top: 455px;
  left: 46%;
  font-size: 15px;
  color: #fff;
  padding: 8px 27px;
  border: 1px #fff solid;
  text-decoration: none;
  position: absolute;
}

/*footer*/
#footer{
  color: #fff;
  background: #000000;
  height: 100px;
  padding: 0 0 10px 0;
  text-align: center;
}

.footer-logo{
  font-size: 20px;
  font-weight: bold;
  margin-left: 35px;
  color: #f2f2f2;
  line-height: 70px;
  position: relative;
  display: flex;
  justify-content: flex-start;
}

.footer-nav{
  display: flex;
  justify-content:   flex-end;
}

.footer-nav li{
  display: inline-block;
  margin-right: 35px;
  font-size: 16px;
  position: relative;
}

.footer-nav a{
  top: -45px;
  color: #f2f2f2;
  text-decoration: none;
  position: relative;
}